<?xml version="1.0" encoding="utf-8"?>
<!--
Ce fichier est utilisé par le processus de publication/package de votre projet web. Vous pouvez personnaliser le comportement de ce processus
en modifiant ce fichier MSBuild. Pour en savoir plus à ce sujet, visitez https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://maalem-bin-idik.ga/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://ahmed2569-001-site1.dtempurl.com:8172/MsDeploy.axd?site=ahmed2569-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>ahmed2569-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ahmed2569-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MAALEM_BIN_IDIK_DBEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=sql5091.site4now.net;Initial Catalog=db_a74ee6_maalembinidikdb;Persist Security Info=True;User ID=db_a74ee6_maalembinidikdb_admin;Password=ahmed2569;TrustServerCertificate=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Project_Fin_Etude___Maalem_Bin_Idik.Models.MAALEM_BIN_IDIK_DBEntities, Project Fin Etude - Maalem Bin Idik" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MAALEM_BIN_IDIK_DBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Maalem_bin_idik_model.csdl|res://*/Models.Maalem_bin_idik_model.ssdl|res://*/Models.Maalem_bin_idik_model.msl;provider=System.Data.SqlClient;provider connection string="Data Source=sql5091.site4now.net;Initial Catalog=db_a74ee6_maalembinidikdb;Persist Security Info=True;User ID=db_a74ee6_maalembinidikdb_admin;Password=ahmed2569;TrustServerCertificate=True"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>